.mission-vision {
    background-color: #f58c0f;
}
  
.mission-vision .wrapp-ms {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ffffff;
}
  
.mission-vision .wrapp-ms h3 {
    color: #ffffff;
}